<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h4>Title:</h4><br>
<p><%= @book.title %></p>
<h4>Body:</h4>
<p><%= @book.body %></p>

<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Back', books_path %>